#accordion {
    display: flex;
    align-items: center;
}
#accordion section {
    width: 50%;
}

.fixado
{
   position: fixed;
   width: 100%;
   z-index: 1;
}

body
{
   background-color: rgb(183, 203, 245);
}

.carrosel_espaco
{
   margin-top: 10%;
}

.textoK
{
   font-family: 'Agbalumo';
   font-size: 1.5em;
}

h2{
   padding-top:2%;
   padding-bottom: 1%;
   font-family: 'Agbalumo';
   font-size: 3em;
}

.corMatheus
{
   background-color:rgb(175, 226, 255);
   
}

.imagemmenor
{
   width: 99.8%;
   box-shadow: 10px 10px 10px grey;
}

.imagemmenor2
{
   width: 99.8%;
   height: 90%;
   margin-bottom: 2%;
   border-radius: 3em;
   box-shadow: 10px 10px 10px grey;
}

.icone
{
   width: 20%;
}

.justify
{
   text-align: justify;
}

.card
{
   box-shadow: 15px 15px 15px grey;
}

.text-center
{
   margin: 4%;
}

.container
{
   text-align: center;
   margin: 8%;
}

